<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level [%C{1} - %M] [%L] - %msg%n" />
        </Console>
        <File name="fileLogger-weebBotCollector" fileName="${log-path}/weebBotCollector-${date:yyyy-MM-dd}.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss} %-5level [%C{1} - %M] [%L] - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="fileLogger-weebBotCollector"/>
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>